
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/CSS2/styleslayout.css">
         <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    </head>
    <header>
        <nav>
            <ul class="menu">
                <li><a th:href="@{/Creditos}" data-item="Inicio">Inicio</a></li>
                <li><a th:href="@{/Creditos/Grafics}" data-item="Graficas">Gráficas</a></li>
            </ul>
        </nav>
    </header>
    <body layout:fragment="body">
        <div>TODO write content</div>
    </body>
</html>
