
h2{
    color: black;
    font-weight: bold;
    font-size: 3rem;
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 40px;
}

table{
    width: 100%;
    border-collapse: collapse;
}

.table{
    background: #fff;
    border-radius: 15px;
    padding: 30px;
    width: auto;
    font-family: verdana;
    margin: auto;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}



.table th, .table td{
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;

}

.table tbody tr:hover{
    background-color: #f1f1f1;
    transition: 0.3s;
}



thead{
    background-color: #101C57;
    background: linear-gradient(90deg, rgba(16, 28, 87, 1) 0%, rgba(10, 0, 71, 1) 54%, rgba(0, 44, 125, 1) 100%);
    color: #fff;
    font-size: 25px;
}


tbody{
}


td{
    justify-content: center;
    padding: 15px;
    text-align: center;
    font-size: 18px;

}
.item{
    margin-bottom: 20px;
}
h2.item{
    text-align: center;
}

.container-complate{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 3rem;
}

.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin: auto;
    position: relative;

}


.button{
    left: -98px;
    background: #101C57;
    background: linear-gradient(90deg, rgba(16, 28, 87, 1) 0%, rgba(10, 0, 71, 1) 11%, rgba(0, 44, 125, 1) 71%);
    padding: 12px 25px;
    font-size: 20px;
    border-radius: 8px;
    border: none;
    color: #fff;
    cursor: pointer;
    margin-bottom: 20px;
    transition: background 0.3s ease;
}

.button a{
    text-decoration:  none;
    color: #fff;

}
.button:hover{
    background: #101C57;
    background: linear-gradient(90deg, rgba(16, 28, 87, 0.68) 0%, rgba(10, 0, 71, 0.69) 27%, rgba(0, 44, 125, 0.74) 80%);


}

.button a : .button:hover{
    color: whitesmoke;
}





